Create your own store! Your store should sell one type of things, like clothing or bikes, whatever you want your store to specialize in. You should have a table for all the items in your store, and at least 5 columns for the kind of data you think you'd need to store. You should sell at least 15 items, and use select statements to order your items by price and show at least one statistic about the items.

In [1]:
import sqlite3
import pandas as pd

In [6]:
# connect to database
con = sqlite3.connect(':memory:')

# create cursor object
c = con.cursor()

In [18]:
df = pd.read_csv('store_inventory.csv', )
df.to_sql('inventory', con = con, index=False)

In [21]:
c.execute("""SELECT * FROM inventory""")
inv = pd.DataFrame(c.fetchall())
inv.columns = [x[0] for x in c.description] 
inv

    id                   product  price  inventory  location
0    1         iams cat food dry  14.99         23         1
1    2  fancy feast cat food dry   7.99         20         1
2    3         iams cat food wet   2.99         53         1
3    4  fancy feast cat food wet   1.99         37         1
4    5   world's best cat litter  29.99         17         4
5    6         iams dog food dry  17.99         11         2
6    7       purina dog food dry  22.99          4         2
7    8         iams dog food wet   3.99         33         2
8    9       purina dog food wet   2.99         19         2
9   10              wee wee pads  12.99         12         4
10  11              cat toy mice   0.99         53         3
11  12                   cat nip  10.99          7         3
12  13               dog stuffie   5.99         13         3
13  14                 dog leash   7.99         22         3
14  15                   harness   7.99         16         3

In [ ]:
"""
CREATE TABLE store_inventory (id INTEGER PRIMARY KEY,
                                           product TEXT,
                                           price FLOAT,
                                           inventory INTEGER,
                                           location INTEGER)
"""

In [ ]:
"""
c.execute("""INSERT INTO store_inventory VALUES (1, "iams cat food dry", 14.99, 23, 1)""")
c.execute("""INSERT INTO store_inventory VALUES (2, "fancy feast cat food dry", 7.99, 20, 1)""")
c.execute("""INSERT INTO store_inventory VALUES (3, "iams cat food wet", 2.99, 53, 1)""")
c.execute("""INSERT INTO store_inventory VALUES (4, "fancy feast cat food wet", 1.99, 37, 1)""")
c.execute("""INSERT INTO store_inventory VALUES (5, "world's best cat litter", 29.99, 17, 4)""")
c.execute("""INSERT INTO store_inventory VALUES (6, "iams dog food dry", 17.99, 11, 2)""")
c.execute("""INSERT INTO store_inventory VALUES (7, "purina dog food dry", 22.99, 4, 2)""")
c.execute("""INSERT INTO store_inventory VALUES (8, "iams dog food wet", 3.99, 33, 2)""")
c.execute("""INSERT INTO store_inventory VALUES (9, "purina dog food wet", 2.99, 19, 2)""")
c.execute("""INSERT INTO store_inventory VALUES (10, "wee wee pads", 12.99, 12, 4)""")
c.execute("""INSERT INTO store_inventory VALUES (11, "cat toy mice", 0.99, 53, 3)""")
c.execute("""INSERT INTO store_inventory VALUES (12, "cat nip", 10.99, 7, 3)""")
c.execute("""INSERT INTO store_inventory VALUES (13, "dog stuffie", 5.99, 13, 3)""")
c.execute("""INSERT INTO store_inventory VALUES (14, "dog leash", 7.99, 22, 3)""")
c.execute("""INSERT INTO store_inventory VALUES (15, "harness", 7.99, 16, 3)""")
"""

In [ ]:
"""
INSERT INTO store_inventory VALUES (1, "iams cat food dry", 14.99, 23, 1);
INSERT INTO store_inventory VALUES (2, "fancy feast cat food dry", 7.99, 20, 1);
INSERT INTO store_inventory VALUES (3, "iams cat food wet", 2.99, 53, 1);
INSERT INTO store_inventory VALUES (4, "fancy feast cat food wet", 1.99, 37, 1);
INSERT INTO store_inventory VALUES (5, "world's best cat litter", 29.99, 17, 4);
INSERT INTO store_inventory VALUES (6, "iams dog food dry", 17.99, 11, 2);
INSERT INTO store_inventory VALUES (7, "purina dog food dry", 22.99, 4, 2);
INSERT INTO store_inventory VALUES (8, "iams dog food wet", 3.99, 33, 2);
INSERT INTO store_inventory VALUES (9, "purina dog food wet", 2.99, 19, 2);
INSERT INTO store_inventory VALUES (10, "wee wee pads", 12.99, 12, 4);
INSERT INTO store_inventory VALUES (11, "cat toy mice", 0.99, 53, 3);
INSERT INTO store_inventory VALUES (12, "cat nip", 10.99, 7, 3);
INSERT INTO store_inventory VALUES (13, "dog stuffie", 5.99, 13, 3);
INSERT INTO store_inventory VALUES (14, "dog leash", 7.99, 22, 3);
INSERT INTO store_inventory VALUES (15, "harness", 7.99, 16, 3);
"""